*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta Principal */
:root{
    --color1: #D9D9D9; 
    --color2: #A4A6A5; 
    --color3: #8B8C8C; 
    --color4: #0C0D0C; 
    --color5: #F2F2F2; 
    --colorextra: #FA7F90;
    --colorextra1: #F2C5BB;
}

body{
    font-family: 'Anonymous Pro', monospace;
    background-image: url(../assets/bg-2.png);
    background-position: center;
    
}

a{
    text-decoration: none;
    color: var(--color4);
}

/* Color Theme Swatches in Hex */
$Moda-1-hex: #A67D03;
$Moda-2-hex: #8C5C03;
$Moda-3-hex: #40290C;
$Moda-4-hex: #8C4E18;
$Moda-5-hex: #A6948D;
