header {
    display: flex;
    height: 20vh;
   
}

    header .logo img{
        display: flex;
        height: 5em;
        width: auto;
        margin-left: 2em;
        margin-top: 1em;
    }

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 3em;
    margin-top: 3em;
}

    .menu a{
        line-height: 4em;
    }

    .menu a img{
        width: auto;
        height: 2.2em;
    }

main{
    height: 74.5vh;
}



.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color1-op);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.158);
    height: 5.5vh;
}

    .footer img{
        width: auto;
        height: 1.1em;
        margin-top: .7em;
    }
